In [1]:
import pandas as pd
data = pd.DataFrame({"Name" : ["a","b","c","d","f"]})
data

  Name
0    a
1    b
2    c
3    d
4    f

In [2]:
data.iloc[0]

Name    a
Name: 0, dtype: object

In [3]:
data.loc[0]

Name    a
Name: 0, dtype: object

In [8]:
data.dtypes

Name    object
dtype: object

# 10 min to Pandas excise starts here

In [9]:
import numpy as np
import pandas as pd

In [10]:
s = pd.Series([1,2,3,np.nan,10,6])
s

0     1.0
1     2.0
2     3.0
3     NaN
4    10.0
5     6.0
dtype: float64

In [11]:
dates = pd.date_range(start='20200206', periods=6)
dates

DatetimeIndex(['2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index = dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392
2020-02-07 -1.696032  0.428707 -2.086388  1.265555
2020-02-08  0.062527 -0.750839 -1.636388  0.251421
2020-02-09  0.005588 -2.938119  0.369765  0.293339
2020-02-10 -2.048418  1.131347  0.092944 -0.337887
2020-02-11 -0.092641  1.311619  2.390918  0.262432

In [13]:
df2 = pd.DataFrame({
                    'A': 1,  
                    'B': pd.Timestamp('2020-02-06'),
                    'C': pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D': np.array([3]*4,dtype='int32'),
                    'E': pd.Categorical(["test","train","train","test"]),
                    'F' : 'Foo'
                    } 
                   , index=(0,1,2,3))
df2

   A          B    C  D      E    F
0  1 2020-02-06  1.0  3   test  Foo
1  1 2020-02-06  1.0  3  train  Foo
2  1 2020-02-06  1.0  3  train  Foo
3  1 2020-02-06  1.0  3   test  Foo

In [14]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [15]:
df2.bool

<bound method NDFrame.bool of    A          B    C  D      E    F
0  1 2020-02-06  1.0  3   test  Foo
1  1 2020-02-06  1.0  3  train  Foo
2  1 2020-02-06  1.0  3  train  Foo
3  1 2020-02-06  1.0  3   test  Foo>

In [16]:
df

                   A         B         C         D
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392
2020-02-07 -1.696032  0.428707 -2.086388  1.265555
2020-02-08  0.062527 -0.750839 -1.636388  0.251421
2020-02-09  0.005588 -2.938119  0.369765  0.293339
2020-02-10 -2.048418  1.131347  0.092944 -0.337887
2020-02-11 -0.092641  1.311619  2.390918  0.262432

In [19]:
df.to_numpy()
##Serious will now be in array

array([[-0.49907689, -0.38709129, -0.17258196,  1.45739234],
       [-1.69603187,  0.42870706, -2.08638776,  1.26555477],
       [ 0.06252703, -0.75083914, -1.63638836,  0.25142077],
       [ 0.00558809, -2.93811905,  0.36976516,  0.29333945],
       [-2.04841797,  1.13134683,  0.09294448, -0.33788706],
       [-0.09264093,  1.31161862,  2.3909179 ,  0.26243196]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.711342 -0.200729 -0.173622  0.532042
std    0.927156  1.567703  1.596343  0.686951
min   -2.048418 -2.938119 -2.086388 -0.337887
25%   -1.396793 -0.659902 -1.270437  0.254174
50%   -0.295859  0.020808 -0.039819  0.277886
75%   -0.018969  0.955687  0.300560  1.022501
max    0.062527  1.311619  2.390918  1.457392

In [21]:
##Converts column to row and row to column
df.T

   2020-02-06  2020-02-07  2020-02-08  2020-02-09  2020-02-10  2020-02-11
A   -0.499077   -1.696032    0.062527    0.005588   -2.048418   -0.092641
B   -0.387091    0.428707   -0.750839   -2.938119    1.131347    1.311619
C   -0.172582   -2.086388   -1.636388    0.369765    0.092944    2.390918
D    1.457392    1.265555    0.251421    0.293339   -0.337887    0.262432

In [22]:
df

                   A         B         C         D
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392
2020-02-07 -1.696032  0.428707 -2.086388  1.265555
2020-02-08  0.062527 -0.750839 -1.636388  0.251421
2020-02-09  0.005588 -2.938119  0.369765  0.293339
2020-02-10 -2.048418  1.131347  0.092944 -0.337887
2020-02-11 -0.092641  1.311619  2.390918  0.262432

In [27]:
df.sort_index(axis = 1, ascending=False)
##Axis 1=Column, 0=Row

                   D         C         B         A
2020-02-06  1.457392 -0.172582 -0.387091 -0.499077
2020-02-07  1.265555 -2.086388  0.428707 -1.696032
2020-02-08  0.251421 -1.636388 -0.750839  0.062527
2020-02-09  0.293339  0.369765 -2.938119  0.005588
2020-02-10 -0.337887  0.092944  1.131347 -2.048418
2020-02-11  0.262432  2.390918  1.311619 -0.092641

In [68]:
df.sort_values(axis = 0, by='D', ascending=True)

                   A         B         C         D
2020-02-10  1.348618 -0.120040  0.800439 -0.761444
2020-02-11 -1.162465 -1.530310 -0.946202 -0.018284
2020-02-07  0.497513  0.672946 -0.598170  0.426090
2020-02-06  0.453758 -0.612517  0.606203  0.583995
2020-02-08  0.488950  0.022278 -1.383475  0.775851
2020-02-09 -1.208866  0.236207 -0.578290  0.921225

In [81]:
df['2020-02-08':'2020-02-10']

                   A         B         C         D
2020-02-08  0.488950  0.022278 -1.383475  0.775851
2020-02-09 -1.208866  0.236207 -0.578290  0.921225
2020-02-10  1.348618 -0.120040  0.800439 -0.761444

In [85]:
dates[2]

Timestamp('2020-02-08 00:00:00', freq='D')

# Displaying based on Label - df.loc

In [89]:
df

                   A         B         C         D
2020-02-06  0.453758 -0.612517  0.606203  0.583995
2020-02-07  0.497513  0.672946 -0.598170  0.426090
2020-02-08  0.488950  0.022278 -1.383475  0.775851
2020-02-09 -1.208866  0.236207 -0.578290  0.921225
2020-02-10  1.348618 -0.120040  0.800439 -0.761444
2020-02-11 -1.162465 -1.530310 -0.946202 -0.018284

In [118]:
df[0:3]

                   A         B         C         D
2020-02-06  0.298379  0.760788  1.399551  0.617257
2020-02-07  1.109557 -0.037919  0.542186  0.120362
2020-02-08  1.404606  0.337755  0.324568  0.564525

In [88]:
df.loc[dates[1]]

A    0.497513
B    0.672946
C   -0.598170
D    0.426090
Name: 2020-02-07 00:00:00, dtype: float64

In [121]:
df.loc[:'2020-02-07']

                   A         B         C         D
2020-02-06  0.298379  0.760788  1.399551  0.617257
2020-02-07  1.109557 -0.037919  0.542186  0.120362

In [112]:
df.loc['2020-02-06':'2020-02-08']

                   A         B         C         D
2020-02-06  0.298379  0.760788  1.399551  0.617257
2020-02-07  1.109557 -0.037919  0.542186  0.120362
2020-02-08  1.404606  0.337755  0.324568  0.564525

In [113]:
df.loc['2020-02-06':'2020-02-08',['A','D']]

                   A         D
2020-02-06  0.298379  0.617257
2020-02-07  1.109557  0.120362
2020-02-08  1.404606  0.564525

In [123]:
df.loc['2020-02-06',['A','D','B']]

A    0.298379
D    0.617257
B    0.760788
Name: 2020-02-06 00:00:00, dtype: float64

# Displaying based on position - df.iloc

In [124]:
df.iloc[:]

                   A         B         C         D
2020-02-06  0.298379  0.760788  1.399551  0.617257
2020-02-07  1.109557 -0.037919  0.542186  0.120362
2020-02-08  1.404606  0.337755  0.324568  0.564525
2020-02-09 -0.132620  0.102771 -0.241095 -0.019171
2020-02-10  1.480049  1.549259  1.045467  0.375992
2020-02-11  1.014439  1.233132 -0.820739 -0.058877

In [125]:
df.iloc[:,0:2]

                   A         B
2020-02-06  0.298379  0.760788
2020-02-07  1.109557 -0.037919
2020-02-08  1.404606  0.337755
2020-02-09 -0.132620  0.102771
2020-02-10  1.480049  1.549259
2020-02-11  1.014439  1.233132

In [132]:
df.iloc[:,[0,2,1]]
##Range row and selective column

                   A         C         B
2020-02-06  0.298379  1.399551  0.760788
2020-02-07  1.109557  0.542186 -0.037919
2020-02-08  1.404606  0.324568  0.337755
2020-02-09 -0.132620 -0.241095  0.102771
2020-02-10  1.480049  1.045467  1.549259
2020-02-11  1.014439 -0.820739  1.233132

In [28]:
df.iloc[[1,5],[0,2,1]]
##Selective row and selective column

                   A         C         B
2020-02-07 -1.696032 -2.086388  0.428707
2020-02-11 -0.092641  2.390918  1.311619

In [134]:
df.iloc[1:5,[0,2,1]]

                   A         C         B
2020-02-07  1.109557  0.542186 -0.037919
2020-02-08  1.404606  0.324568  0.337755
2020-02-09 -0.132620 -0.241095  0.102771
2020-02-10  1.480049  1.045467  1.549259

In [137]:
df.iloc[1,1]

-0.03791915081859343

In [138]:
df.iat[1,1]

-0.03791915081859343

# Boolean validation

In [142]:
df

                   A         B         C         D
2020-02-06  0.298379  0.760788  1.399551  0.617257
2020-02-07  1.109557 -0.037919  0.542186  0.120362
2020-02-08  1.404606  0.337755  0.324568  0.564525
2020-02-09 -0.132620  0.102771 -0.241095 -0.019171
2020-02-10  1.480049  1.549259  1.045467  0.375992
2020-02-11  1.014439  1.233132 -0.820739 -0.058877

In [30]:
df[(df['A'] != 1)]

                   A         B         C         D
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392
2020-02-07 -1.696032  0.428707 -2.086388  1.265555
2020-02-08  0.062527 -0.750839 -1.636388  0.251421
2020-02-09  0.005588 -2.938119  0.369765  0.293339
2020-02-10 -2.048418  1.131347  0.092944 -0.337887
2020-02-11 -0.092641  1.311619  2.390918  0.262432

In [146]:
df[(df['A']> 1) | (df['B']> 1)]

                   A         B         C         D
2020-02-07  1.109557 -0.037919  0.542186  0.120362
2020-02-08  1.404606  0.337755  0.324568  0.564525
2020-02-10  1.480049  1.549259  1.045467  0.375992
2020-02-11  1.014439  1.233132 -0.820739 -0.058877

In [147]:
df[df > 0]

                   A         B         C         D
2020-02-06  0.298379  0.760788  1.399551  0.617257
2020-02-07  1.109557       NaN  0.542186  0.120362
2020-02-08  1.404606  0.337755  0.324568  0.564525
2020-02-09       NaN  0.102771       NaN       NaN
2020-02-10  1.480049  1.549259  1.045467  0.375992
2020-02-11  1.014439  1.233132       NaN       NaN

In [33]:
df2 = df.copy()
df2

                   A         B         C         D
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392
2020-02-07 -1.696032  0.428707 -2.086388  1.265555
2020-02-08  0.062527 -0.750839 -1.636388  0.251421
2020-02-09  0.005588 -2.938119  0.369765  0.293339
2020-02-10 -2.048418  1.131347  0.092944 -0.337887
2020-02-11 -0.092641  1.311619  2.390918  0.262432

In [34]:
df2['E'] = ['one','two','Three','four','fie','six']
df2

                   A         B         C         D      E
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392    one
2020-02-07 -1.696032  0.428707 -2.086388  1.265555    two
2020-02-08  0.062527 -0.750839 -1.636388  0.251421  Three
2020-02-09  0.005588 -2.938119  0.369765  0.293339   four
2020-02-10 -2.048418  1.131347  0.092944 -0.337887    fie
2020-02-11 -0.092641  1.311619  2.390918  0.262432    six

In [166]:
df2[df2['E'].isin(['one','two','six'])]

                   A         B         C         D    E
2020-02-06  0.298379  0.760788  1.399551  0.617257  one
2020-02-07  1.109557 -0.037919  0.542186  0.120362  two
2020-02-11  1.014439  1.233132 -0.820739 -0.058877  six

In [164]:
df2[(df2['E'] == 'one') | (df2['E'] == 'fie')]

                   A         B         C         D    E
2020-02-06  0.298379  0.760788  1.399551  0.617257  one
2020-02-10  1.480049  1.549259  1.045467  0.375992  fie

# Setting

In [41]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('2020-02-06',periods=6))
s1

2020-02-06    1
2020-02-07    2
2020-02-08    3
2020-02-09    4
2020-02-10    5
2020-02-11    6
Freq: D, dtype: int64

In [42]:
df2['F'] =  s1
df2

                   A         B         C         D      E  F
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392    one  1
2020-02-07 -1.696032  0.428707 -2.086388  1.265555    two  2
2020-02-08  0.062527 -0.750839 -1.636388  0.251421  Three  3
2020-02-09  0.005588 -2.938119  0.369765  0.293339   four  4
2020-02-10 -2.048418  1.131347  0.092944 -0.337887    fie  5
2020-02-11 -0.092641  1.311619  2.390918  0.262432    six  6

In [43]:
df

                   A         B         C         D
2020-02-06 -0.499077 -0.387091 -0.172582  1.457392
2020-02-07 -1.696032  0.428707 -2.086388  1.265555
2020-02-08  0.062527 -0.750839 -1.636388  0.251421
2020-02-09  0.005588 -2.938119  0.369765  0.293339
2020-02-10 -2.048418  1.131347  0.092944 -0.337887
2020-02-11 -0.092641  1.311619  2.390918  0.262432

In [44]:
df.at[dates[0],'D'] = 111
df

                   A         B         C           D
2020-02-06 -0.499077 -0.387091 -0.172582  111.000000
2020-02-07 -1.696032  0.428707 -2.086388    1.265555
2020-02-08  0.062527 -0.750839 -1.636388    0.251421
2020-02-09  0.005588 -2.938119  0.369765    0.293339
2020-02-10 -2.048418  1.131347  0.092944   -0.337887
2020-02-11 -0.092641  1.311619  2.390918    0.262432

In [45]:
df.iloc[3,3] = 200
df

                   A         B         C           D
2020-02-06 -0.499077 -0.387091 -0.172582  111.000000
2020-02-07 -1.696032  0.428707 -2.086388    1.265555
2020-02-08  0.062527 -0.750839 -1.636388    0.251421
2020-02-09  0.005588 -2.938119  0.369765  200.000000
2020-02-10 -2.048418  1.131347  0.092944   -0.337887
2020-02-11 -0.092641  1.311619  2.390918    0.262432

In [46]:
df.iat[2,2] = 99
df

                   A         B          C           D
2020-02-06 -0.499077 -0.387091  -0.172582  111.000000
2020-02-07 -1.696032  0.428707  -2.086388    1.265555
2020-02-08  0.062527 -0.750839  99.000000    0.251421
2020-02-09  0.005588 -2.938119   0.369765  200.000000
2020-02-10 -2.048418  1.131347   0.092944   -0.337887
2020-02-11 -0.092641  1.311619   2.390918    0.262432

# Missing Data

In [123]:
df1 =  df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])
df1

                   A         B          C           D   E
2020-02-06 -0.499077 -0.387091  -0.172582  111.000000 NaN
2020-02-07 -1.696032  0.428707  -2.086388    1.265555 NaN
2020-02-08  0.062527 -0.750839  99.000000    0.251421 NaN
2020-02-09  0.005588 -2.938119   0.369765  200.000000 NaN

In [93]:
df1.loc['2020-02-06','A']

-0.4990768892478454

In [124]:
df1.loc['2020-02-06',['E','A']] = 1
df1

                   A         B          C           D    E
2020-02-06  1.000000 -0.387091  -0.172582  111.000000  1.0
2020-02-07 -1.696032  0.428707  -2.086388    1.265555  NaN
2020-02-08  0.062527 -0.750839  99.000000    0.251421  NaN
2020-02-09  0.005588 -2.938119   0.369765  200.000000  NaN

In [76]:
df1.dropna(axis = 0,how='any',inplace=True)
df1

              A         B         C      D    E
2020-02-06  1.0 -0.387091 -0.172582  111.0  1.0

In [126]:
df1.fillna(value = 4  , inplace = True)
df1

                   A         B          C           D    E
2020-02-06  1.000000 -0.387091  -0.172582  111.000000  1.0
2020-02-07 -1.696032  0.428707  -2.086388    1.265555  4.0
2020-02-08  0.062527 -0.750839  99.000000    0.251421  4.0
2020-02-09  0.005588 -2.938119   0.369765  200.000000  4.0

In [99]:
pd.isna(df1)

                A      B      C      D      E
2020-02-06  False  False  False  False  False
2020-02-07  False  False  False  False   True
2020-02-08  False  False  False  False   True
2020-02-09  False  False  False  False   True

# Operations

In [100]:
df

                   A         B          C           D
2020-02-06 -0.499077 -0.387091  -0.172582  111.000000
2020-02-07 -1.696032  0.428707  -2.086388    1.265555
2020-02-08  0.062527 -0.750839  99.000000    0.251421
2020-02-09  0.005588 -2.938119   0.369765  200.000000
2020-02-10 -2.048418  1.131347   0.092944   -0.337887
2020-02-11 -0.092641  1.311619   2.390918    0.262432

In [101]:
df.mean()

A    -0.711342
B    -0.200729
C    16.599110
D    52.073587
dtype: float64

In [107]:
df.mean(axis=1)

2020-02-06    27.485312
2020-02-07    -0.522039
2020-02-08    24.640777
2020-02-09    49.359309
2020-02-10    -0.290503
2020-02-11     0.968082
Freq: D, dtype: float64

In [108]:
df

                   A         B          C           D
2020-02-06 -0.499077 -0.387091  -0.172582  111.000000
2020-02-07 -1.696032  0.428707  -2.086388    1.265555
2020-02-08  0.062527 -0.750839  99.000000    0.251421
2020-02-09  0.005588 -2.938119   0.369765  200.000000
2020-02-10 -2.048418  1.131347   0.092944   -0.337887
2020-02-11 -0.092641  1.311619   2.390918    0.262432

In [109]:
df.apply(np.cumsum)

                   A         B          C           D
2020-02-06 -0.499077 -0.387091  -0.172582  111.000000
2020-02-07 -2.195109  0.041616  -2.258970  112.265555
2020-02-08 -2.132582 -0.709223  96.741030  112.516976
2020-02-09 -2.126994 -3.647342  97.110795  312.516976
2020-02-10 -4.175412 -2.515996  97.203740  312.179088
2020-02-11 -4.268053 -1.204377  99.594658  312.441520

# Histogramming

In [114]:
s= pd.Series(np.random.randint(0,7,1))
s

0    2
dtype: int32

In [113]:
s.value_counts()

5    1
dtype: int64

In [132]:
s = pd.Series(['Another', 'Kambala','breaks','Srinivas','record'])
s

0     Another
1     Kambala
2      breaks
3    Srinivas
4      record
dtype: object

In [133]:
s.str.lower()

0     another
1     kambala
2      breaks
3    srinivas
4      record
dtype: object

# Merge

In [144]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -0.876025 -0.317222  1.044329 -0.032868
1  0.199071  0.610536  0.465883 -1.019436
2  0.766306  1.387282 -0.058706  1.210806
3 -0.657589  1.449401 -0.922864 -1.281216
4 -1.260471 -0.391371 -1.102970  0.892615
5 -0.293455 -2.619387 -0.340691  0.354800
6 -0.608594 -0.317315  0.322368  1.166291
7  0.097130 -0.504197 -0.346931  0.345410
8 -1.080867 -0.014594  0.068876 -2.004689
9  1.433727  0.892993 -0.212053 -0.481848

In [152]:
pieces = [df[:3],df[4:7]]
pieces

[          0         1         2         3
 0 -0.876025 -0.317222  1.044329 -0.032868
 1  0.199071  0.610536  0.465883 -1.019436
 2  0.766306  1.387282 -0.058706  1.210806,
           0         1         2         3
 4 -1.260471 -0.391371 -1.102970  0.892615
 5 -0.293455 -2.619387 -0.340691  0.354800
 6 -0.608594 -0.317315  0.322368  1.166291]

In [153]:
pd.concat(pieces)

          0         1         2         3
0 -0.876025 -0.317222  1.044329 -0.032868
1  0.199071  0.610536  0.465883 -1.019436
2  0.766306  1.387282 -0.058706  1.210806
4 -1.260471 -0.391371 -1.102970  0.892615
5 -0.293455 -2.619387 -0.340691  0.354800
6 -0.608594 -0.317315  0.322368  1.166291

# Pivot table