In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\Jayaprakash\DataScience\Projects\Machine_Learning_A-Z\Part 1 - Data Preprocessing\P14-Data-Preprocessing\Data_Preprocessing\Data.csv")
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Filling NaN values

# Option #1 - Using Pandas

In [3]:
##df.isna().sum()
df["Age"].fillna(round(df["Age"].mean(),0), inplace=True)
df["Salary"].fillna(round(df["Salary"].mean(),1), inplace=True)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  63777.8       Yes
5   France  35.0  58000.0       Yes
6    Spain  39.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Option #2 - Using Sklearn - Imputer

# Creating features and Labels

Option #1 : Using dropa approach

In [4]:
X = df.drop(["Purchased"], axis =1)
y = df["Purchased"]

Option 2 : Using iloc

In [33]:
X = df.iloc[:,:3]
y = df.iloc[:,3]

In [34]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [35]:
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0  63777.8
5   France  35.0  58000.0
6    Spain  39.0  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [36]:
onehot = OneHotEncoder(categories= [0])
a = onehot.fit_transform(X)

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [28]:
onehot

OneHotEncoder(categories=[0], drop=None, dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)