In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("C:\Jayaprakash\DataScience\Projects\Test Data\Multi_Linear_50_Startups.csv")
df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

In [42]:
X = df.drop(["Profit"] , axis=1)
y = df["Profit"]

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state =0)

categorical_features = ["State"]

onehot = OneHotEncoder()
transformer = ColumnTransformer([("onehot",onehot,categorical_features)],remainder="passthrough")
X_train_transformed = transformer.fit_transform(X_train)
X_test_transformed = transformer.transform(X_test)

In [43]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train_transformed,y_train)

y_preds = model.predict(X_train_transformed)

In [44]:
y_preds

array([ 95764.42320496,  89164.62849777, 109506.72329085,  91366.21889411,
       127111.48666646, 159019.04337114, 148905.9881254 ,  48179.60744027,
        45374.34722507, 102951.95967978, 145449.63178398,  96684.71387298,
        97535.3576194 , 116571.15139255,  69421.13311312, 116212.62095134,
        60736.53267611, 152787.95464277, 127413.03373111, 102210.16391827,
       161822.7226407 , 131583.61511491,  75019.09161338,  48054.91969395,
       189547.28196894, 127528.92248422,  85540.50570955, 111255.82514049,
       156191.10124355, 108464.25100331,  75306.81185049, 119915.38726755,
       115144.58914953, 152688.9067796 ,  81513.47163492,  57298.28613019,
       172852.28336637, 192919.57537463,  47007.62737751,  65835.99435878])

In [45]:
model.score(X_test_transformed,y_test)

0.9347068473282303