In [3]:
print ("Hello world !!")

Hello world !!

In [12]:
if 51 > 2 :
    print (" 5 is greater than 2")
if 51 == 51 :
    print (" Nothing")

 5 is greater than 2
 Nothing

In [16]:
x = 5
y = "Jayaprakash"

print(x)
print(y)

5
Jayaprakash

In [31]:
a= "Name"
b = 50
c = 34.6
d = 1j
e = ["Apple","Banana","Car"]
f = ("Apple","Banana","Car")
g = range(6)
h = {"Apple","Banana","Car"}
i = {"Name " : "Jaya" , "Age" : 43}
x = True


print(type(a))
print(type(b)),
print(type(c)),
print(type(d)),
print(type(e)),
print(type(f))

print(type(g))
print(type(h))
print(type(i))

print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'set'>
<class 'dict'>
<class 'bool'>

In [63]:
import random

print(random.randrange(5,10))
print(random.random())
print(random.uniform(10,20))

8
0.17489994061171066
11.721084094020783

In [58]:
mylist = ["Apple","Orange","Car","What"]
random.choice(mylist)

'What'

In [72]:
## removing duplicate from list

mylist = ["a", "b", "a", "c", "c"]

x = list(dict.fromkeys(mylist))
print(x)
print(type(x))

['a', 'b', 'c']
<class 'list'>

In [88]:
msg = "Hello India"
msg[0], msg[6:11], msg[-5:-2], msg[:-2]

('H', 'India', 'Ind', 'Hello Ind')

In [87]:
msg.lower(), msg.upper(), msg.replace("l","k")

('hello india', 'HELLO INDIA', 'Hekko India')

In [90]:
print( 10 > 9)
print( 10 == 9)
print( 10 < 9)

True
False
False

In [95]:
a=200
b = 1581

if a > b:
    print("Great")
else:
    print("Double great")

Double great

In [100]:
print(bool("Hello"))
print(bool(""))
print(bool(15))
print(bool(0))

True
False
True
False

In [103]:
x = 6
if x > 5 and x < 15:
    print("good")

good

In [110]:
thislist = ["apple", "banana", "cherry"]
thislist[0] , thislist[-1thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]]

('apple', 'cherry')

In [114]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[-4:-1]

['orange', 'kiwi', 'melon']

In [115]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]